# Pandas Extra functions
> Extra pandas functions at import

In [16]:
from typing import Callable
from forgebox.imports import *

### Testing

In [ ]:
from sklearn.datasets import california_housing

cdata = california_housing.fetch_california_housing()

df = pd.DataFrame(cdata["data"], columns=cdata["feature_names"])

In [3]:
df["old"] = df.HouseAge>20

## Value Counts

In [4]:
df.vc("old")

         old
True   14347
False   6293

In [8]:
df.rename_by_rule().head(1)

   medinc  houseage  averooms  avebedrms  ...  aveoccup  latitude  longitude   old
0  8.3252      41.0  6.984127    1.02381  ...  2.555556     37.88    -122.23  True

[1 rows x 9 columns]

In [7]:
df.column_order("old","AveOccup").head(3)

    old  AveOccup  MedInc  HouseAge  ...  AveBedrms  Population  Latitude  Longitude
0  True  2.555556  8.3252      41.0  ...   1.023810       322.0     37.88    -122.23
1  True  2.109842  8.3014      21.0  ...   0.971880      2401.0     37.86    -122.22
2  True  2.802260  7.2574      52.0  ...   1.073446       496.0     37.85    -122.24

[3 rows x 9 columns]