# 01 A logged editable table
> Traceable editable table in flask

In [1]:
from flask import Flask
app = Flask(__name__)

@app.route('/')
def hello_world():
    return 'Hello, World!'

## Run a simple applitcation

In [2]:
# default_exp editable

In [3]:
# export
import pandas as pd
from datetime import datetime
import json
from sqlalchemy import create_engine as ce
from sqlalchemy import text
from jinja2 import Template

In [4]:
# export
from pathlib import Path
def get_static():
    import forgebox
    return Path(forgebox.__path__[0])/"static"

In [5]:
# export
def edit_js():
    with open(get_static()/"edit.js","r") as f:
        return f"<script>{f.read()}</script>"


class DefaultTemp(Template):
    """
    Jinjia template with some default render config
    """
    def render(self,dt):
        dt.update(dict(type=type,now = datetime.now()))
        return super().render(dt)

## Create sample data

In [6]:
con = ce("sqlite:///sample.db")

sample_df = pd.DataFrame(dict(name=["Darrow","Virginia","Sevro",]*20,
                              house =["Andromedus","Augustus","Barca"]*20,
                              age=[20,18,17]*20))

sample_df.to_sql("sample_table",index_label="id",
                 index=True,
                 con = con, method='multi',
                 if_exists="replace")

In [7]:
# export
from flask import request
from flask import g
from datetime import datetime

class Editable:
    def __init__(self,name,app,table_name,con,id_col,
                 log_con,log_table="editable_log",columns = None):
        """
        name: route name for url path, 
            also it will be the task title appearning on the frontend
        app:flask app
        table_name: table to edit
        con:sqlachemy connnection, created by : con = sqlalchemy.create_engine
        id_col: a column with unique value
        log_con:sqlachemy connnection, for storaging change log
        """
        self.name = name
        self.app = app
        self.table_name = table_name
        self.con = con
        self.log_con = log_con
        self.columns = ",".join(columns) if columns!=None else "*"
        self.id_col = id_col
        
        self.t_workspace = self.load_temp(get_static()/"workspace.html")
        self.t_table = self.load_temp(get_static()/"table.html")
        self.assign()
        
    def assign(self): 
        self.app.route(f"/{self.name}")(self.workspace)
        self.app.route(f"/{self.name}/df_api")(self.read_df)
        self.app.route(f"/{self.name}/save_api",
                       methods=["POST"])(self.save_data)

    def workspace(self):
        return self.t_workspace.render(dict(title=self.name,
                                                pk=self.id_col,
                                                edit_js = edit_js()))

    def save_data(self):
        data = json.loads(request.data)
        # update change and save log
        changes = data["changes"]
        log_df = pd.DataFrame(list(self.single_row(change) for change in changes))
        
        log_df["idx"] = log_df.idx.apply(str)
        log_df["original"] = log_df.original.apply(str)
        log_df["changed"] = log_df.changed.apply(str)
        log_df.to_sql(f"editable_log",con = self.log_con,index=False, if_exists="append")
        
        print(log_df)
        # return updated table
        query = data["query"]
        page = query["page"]
        where = query["where"]
        return self.data_table(page,where)
    
    def settype(self,k):
        if k[:3] == "int": return int
        elif "float" in k: return float
        elif k=="str":return str
        elif k=="list":return list
        elif k=="dict":return dict
        else: return eval(k)
    
    def single_row(self,row):
        row["ip"]= request.remote_addr
        row["table_name"] = self.table_name
        row["ts"] = datetime.now() 
        if row["original"]==row["changed"]: 
            row['sql'] = ""
            return row
        else:
            col = row["col"]
            val = row["changed"] 
            val = f"'{val}'" if 'str' in row["valtype"] else val
            idx = row["idx"]
            idx = f"'{idx}'" if type(idx)==str else idx
            set_clause = f"SET {col}={val}"
            sql = f"""UPDATE {self.table_name} 
            {set_clause} WHERE {self.id_col}={idx}
            """
            row['sql'] = sql
            self.con.execute(sql)
            return row
            
    def read_df(self):
        page = request.args.get('page')
        where = request.args.get('where')
        return self.data_table(page,where)
        
    def data_table(self,page,where):
        where_clause = "" if where.strip() == "" else f"WHERE {where} "
        sql = f"""SELECT {self.columns} FROM {self.table_name} {where_clause}
        ORDER BY {self.id_col} ASC LIMIT {page},20
        """
        print(sql)
        df = pd.read_sql(sql,self.con)
        df = df.set_index(self.id_col)
        return self.t_table.render(dict(df = df))
        
    def load_temp(self,path):
        with open(path, "r") as f:
            return DefaultTemp(f.read())

## Testing editable frontend

In [8]:
app = Flask(__name__)

# Create Editable pages around sample_table
Editable("table1", # route/task name
         app, # flask app to wrap around
         table_name="sample_table", # target table name
         id_col="id", # unique column
         con = con,
         log_con=con
        )

app.run(port = 4242,debug=False)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:4242/ (Press CTRL+C to quit)
127.0.0.1 - - [21/Jun/2020 18:09:40] "GET /table1/workspace HTTP/1.1" 404 -
127.0.0.1 - - [21/Jun/2020 18:09:43] "GET /table1 HTTP/1.1" 200 -
127.0.0.1 - - [21/Jun/2020 18:09:43] "GET /table1/df_api?page=0&where= HTTP/1.1" 200 -

SELECT * FROM sample_table
        ORDER BY id ASC LIMIT 0,20

127.0.0.1 - - [21/Jun/2020 18:10:02] "POST /table1/save_api HTTP/1.1" 200 -

  idx    col valtype    original changed         ip    table_name  \
0   0   name     str      Darrow  Reaper  127.0.0.1  sample_table
1   0  house     str  Andromedus  Rising  127.0.0.1  sample_table
2   0    age     int          20      21  127.0.0.1  sample_table

                          ts  \
0 2020-06-21 18:10:02.067516
1 2020-06-21 18:10:02.071400
2 2020-06-21 18:10:02.072681

                                                 sql
0  UPDATE sample_table \n            SET name='Re...
1  UPDATE sample_table \n            SET house='R...
2  UPDATE sample_table \n            SET age=21 W...
SELECT * FROM sample_table
        ORDER BY id ASC LIMIT 0,20

### Retrieve the log

In [9]:
from forgebox.df import PandasDisplay

In [10]:
with PandasDisplay(max_colwidth = 0,max_rows=100):
    display(pd.read_sql('editable_log',con = con))

,idx,col,valtype,original,changed,ip,table_name,ts,sql
0,0,name,str,Darrow,Reaper,127.0.0.1,sample_table,2020-06-21 18:10:02.067516,UPDATE sample_table \n SET name='Reaper' WHERE id=0\n
1,0,house,str,Andromedus,Rising,127.0.0.1,sample_table,2020-06-21 18:10:02.071400,UPDATE sample_table \n SET house='Rising' WHERE id=0\n
2,0,age,int,20,21,127.0.0.1,sample_table,2020-06-21 18:10:02.072681,UPDATE sample_table \n SET age=21 WHERE id=0\n